
/* ############################################ */
/*                   5.HEADER                   */
/* ############################################ */

.header__main {
    align-items: center;
    padding-block: var(--size-2);
  }
  
  .logo__main {
    width: var(--size-7);
  }
  
  .nav__wrapper {
    display: flex;
    align-items: center;
    flex: 1;
  }
  
  .nav__main {
    flex: 5 2 0;
  }
  
  .ul__main {
    gap: 2rem;
    font-size: 1.1rem;
    text-transform: capitalize;
    font-weight: 700;
    color: var(--primary-color-1);
    
  }

 .fa.fa-chevron-circle-down{
  font-size: 14px;
 }

  /* ---------------- .dropdown --------------- */

  .dropdown{
    position: relative;
   
}
  .dropdown-menu {

    opacity: 0;
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--primary-color-2);;
  padding-inline: 2rem;
  width: 200px;
  transition: opacity 0.3s ease-in-out 0.5s;
}
  
  .dropdown:hover .dropdown-menu {
   
    
    opacity: 1;
   
}

  /* ------------------ Ends ------------------ */
  
  .search {
    position: relative;
    margin-right: 1rem;
  }
  
  .search input {
    width: 100%;
    height: 40px;
    border-radius: 22px;
    padding-left: 1rem;
  
    font-size: 14px;
    border: 1px solid var(--secondary-color-3);
    background: var(--secondary-color-1);
  }
  
  .search a {
    position: absolute;
    left: 79%;
  }
  
  .search img:first-of-type,
  .cart__icon {
    width: 40px;
    height: 40px;
  }
  
  
  
  .cart {
    gap: 0.5rem;
    outline: 1px solid var(--secondary-color-2);
    border-radius: 22px;
    cursor: pointer;
    position: relative;
   
  }
  
  .cart__items {
    background: var(--primary-color-2);
    width: 355px;
    padding-block: 1rem;
    position: absolute;
    top: 50px;
    opacity: 0;
    z-index: -1;
    transition: 0.5s linear 0.5s;
    -webkit-transition: 0.5s linear 0.5s;
    -moz-transition: 0.5s linear 0.5s;
    -ms-transition: 0.5s linear 0.5s;
    -o-transition: 0.5s linear 0.5s;
    transform: translatex(-50%);
    p
{
      text-align: center;
      color: #fff;
      text-transform: capitalize;
    
    }
  }
  
.cart__single{
  display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 1rem;

}

.cart__image{
  width: 100px;
  
}

.cart__info p{
  text-align: start;
}
  
  .cart:hover > .cart__items {
    opacity: 1;
    z-index: 10;
    
  }


  .product__detail {
    padding-block: 0.5rem;
}

.product__detail .qty__btn {
  padding: 0.3rem;
}

  .cart__btn{
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    flex-direction: column;
    gap: 1rem;
  }
  
  .hamburger {
    display: none;
    cursor: pointer;
    background: transparent;
    border: none;
    width: 34px;
    padding: 0;
    margin-right: 10px;
    transition: all 0.3s ease-in-out;
  }
  
  .hamburger__line {
    display: block;
    width: 1.5rem;
    height: 3px;
    background-color: var(--secondly-color);
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
  }
  
  .hamburger.active .hamburger__line:nth-child(1) {
    transform: rotate(35deg) translate(-2px, 4px);
  }
  
  .hamburger.active .hamburger__line:nth-child(2) {
    transform: rotate(135deg) translate(7px, 5px);
  }
  
  .hamburger.active .hamburger__line:nth-child(3) {
    opacity: 0;
  }
  
  .hamburger__line {
    width: 100%;
    height: 3px;
    background: var(--primary-color-1);
    transition: transform 0.3s ease-in-out;
  }
  
  .hamburger__line:first-child {
    transform-origin: top left;
  }
  
  .hamburger__line:last-child {
    transform-origin: bottom left;
  }
  